.section{
    width: 14.75rem;
    max-width: 100%;
    margin: 1rem 1.2rem;
}
.reg__button{
    position: relative;
    padding-left: 1.35rem;
    bottom: 0.3rem;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
.menu__buttonActive{
    margin: 2.25rem 0 0 0;
    padding: 0.9rem 1.5rem;
    display: inline-flex;
    background: #353535;
    border-radius: 10px;
    width: 14.75rem;
}
.menu__button{
    padding: 1.4rem 1.5rem;
    display: inline-flex;
}
.menu__buttonScript{
    position: relative;
    padding-left: 1.5rem;
    font-size: 14px;
    top: 0.1rem;
}
.menu__buttonScriptActive{
    position: relative;
    padding-left: 1.5rem;
    bottom: 3rem;
    font-size: 14px;
    top: 0.2rem;
}
.descriptionReg{
    background: #353535;
    width: 9.6rem;
    padding: 0.67rem 1.6rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.5);
    margin: 1.2rem 2.4rem;
    color: white;
  }